
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
}

 /* Entete de la page */

header{
    margin: 0;
    padding: 0;
    position: absolute;
    background: #AB0000;
    width:100%;
    height: 12vh ;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    width: 100%;
   height: 12vh;
   margin-left: 80%;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 50%;
}

.menu li a{
    text-decoration: none;
    color: #fff;
    margin: -4%;
}

.menu li a:hover{
    color: #C96611;
}

#menuTelephone{
    display: none;
}

/* Corp de la page */


 #image{
	background-position: center;
	animation: nhel 40s infinite forwards ;
	width: 100%;
    height: 50vh;
	margin: 0;
    padding: 0;
	padding-top: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

@keyframes nhel{

0%{
	background-image: url(image/ima2.jpeg) 
}
25%{
    background-image: url(image/messi.jpg);
    
}
50%{
	 background-image: url(image/lio.jpg);
}
75%{
    background-image: url(image/1200-L-psg-une-ddicace-de-messi-utilise-au-sommet-de-l-etat.jpg);
}
100%{
    background-image: url(image/Messi3.jpeg);
}

}

.texte{
  font-size: 5rem;
  color: rgb(189, 20, 20);
  font-weight: 1000;
}

#video{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    margin-top: 10vh;
}

video{
    width: 80%;
    height: 60vh;
}

#contenue1{
    width: 100%;
    display: inline-block;
    margin-top: 10vh;
    margin-left: 5%;
    margin: 0;
    padding: 0;
}

.gauche{
    float: left;
    width: 60%;
    height: auto;
    margin-left: 1%;
}

.droite{
    float: left;
    width: 40%;
    height: auto;
    margin-left: 55%;
    margin-top: -55vh;
}


#contenue2{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 15vh;
    margin-left: 5%;
}

.left{
    float: left;
    width: 40%;
    height: auto;
    margin-top: 5vh;
}

.right{
    float: left;
    width: 60%;
    height: auto;
    margin-left: 43%;
    margin-top: -25vh;
}

#contenue {
    clear: both;
    margin-left: 5%;
    margin-right: 5%;
    height: 15vh;
    width: 90%;
    text-align: center;
    margin-top: 15vh;
}

.messi{
    margin: 0.4%;
    width: 10.8%;
}  

.messi1{
    margin: 0.4%;
    width: 12.8%;
    height: 37vh;
}

/* Pied de la page */

#footer{
    width: 100%;
    height: auto;
    background-color: #2A2A2A;
    font-size: 12px;
    justify-content: center;
    text-align:center ;
    position: absolute;
    margin-top: 50vh;
}

#onglet{
    margin-top: 5vh;
}

#onglet *{
    width: 4%;
    color: #fff;
}

#footer *{
    margin-top: 5vh;
}

.pizza{
   color: #fff;
}

.menu2{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 500px;
    margin-left: 30%;
    
}

.menu2 li a{
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.pied{
     color: #fff;
}



/* Format Telephone */

@media screen and (max-width:680px){

body{
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
}
    
     /* Entete de la page */
    
header{
    margin: 0;
    padding: 0;
    background: #AB0000;
    width:100%;
    height: 12vh ;
    position: absolute;
 }
 
.menu{
    display: none;
}

#menuTelephone{
    display: block;
}

#menuTelephone ul{ 
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#menuTelephone li a{ 
    background-color: #AB0000;
    text-decoration: none;
    width:500px ;
    color: #fff;
}

#menuTelephone li :hover{
    color: rgba(255, 255, 0, 0.411);
} 

#menuTelephone ul li ul{
    display: none;
}

#menuTelephone ul li:hover ul{
    display: block;
}

#menuTelephone li:hover ul li{
    float: none;
}

#menuTelephone li ul{
    position: absolute;
}

#menuTelephone li:hover ul li a{
    color: #fff;
} 

.boutonMenu{
    margin-left: 40%;
}

@keyframes nhel{
    display: none;
}

 #image{
    background-image: url(image/1200-L-psg-une-ddicace-de-messi-utilise-au-sommet-de-l-etat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
 }

.texte{
    font-size: 3rem;
    margin-top: 50vh;
}

 .gauche{
    float: none;
    width: 60%;
    height: auto;
    margin-left: 1%;
}

.droite{
    float: none;
    width: 40%;
    height: auto;
    margin-left: 55%;
    margin-top: -45vh;
}

.left{
    float: none;
}

.right{
    float: none;
    margin-top: -70vh;
}

/* pied de page */
footer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;  
}

.menu2{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    margin-left: 1%;
    
}

}