body{
	font-style: normal;
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    color:#000;
    width: 100%;
    height: auto;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    background: #AB0000;
    width:100%;
    height: 12vh ;
    position: fixed;
}


nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    width: 100%;
   height: 12vh;
   margin-left: 80%;
}

#menuTelephone{
    display: none;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 50%;
}

.menu li a{
    text-decoration: none;
    color: #fff;
    margin: -4%;
}

.menu li a:hover{
    color: #C96611;
}

#tete{
    display: flex;
   background-color:  #C96611;
    background-size: cover;
    width: 100%;
    height: 95vh;
    margin: 0 auto;
}

#texte{
    width: 40%;
    height: auto;
    margin-left: 7%;
    margin-top: 220px;
    color: white;
}

#texte p{
    font-size: 18px;
    line-height: 1.2;
}

#image{
    width: 60%;
    height: auto;
    margin-left: 5%;
}

.chillin{
    width: 90%;
    height: 83vh;
    margin-top: 12vh;
    
}

#principale {
    /* Le display grid est similaire a un tableau */
    display: grid;
    /* Pour avoir 3 colonnes d'objet */
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    /* Pour avoir de l'espace entre les lignes et les colonnes */
    grid-gap: 3.5%;
    padding-left: 3.5%;
    padding-bottom: 22.5%;
    margin-top: 10vh;
    background-color: rgb(246, 246, 246);
}

.contenue{
    width: 90%;
    height:auto ;
    margin-top: 10vh;
    border: 1px solid transparent;
    border-radius: 10px;
}

.image{
      width: 90%;
      height: 35vh;
      align-items: center;
      margin-left: 5%;
      margin-top: 2vh;
}

 .etoile{
    position: absolute;
    width: 7%;
    height: 6vh;
    margin-top: -3vh;
}

.contenue p{
    font-size: 16px;
    font-weight: 400;
    margin-top: -0.1vh;
}


 /* Pied de page */
 #footer{
    width: 100%;
    height: 40vh;
    background-color: #2A2A2A;
    font-size: 12px;
    justify-content: center;
    text-align:center ;
}

#onglet{
    margin-top: 5vh;
}

#onglet *{
    width: 3%;
    color: #fff;
}

#footer *{
    margin-top: 5vh;
}

.pizza{
   color: #fff;
}

.menu2{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 500px;
    margin-left: 30%;
    
}

.menu2 li a{
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.pied{
     color: #fff;
}


/* Format Telephone */

@media screen and (max-width:680px){
    
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }
    
     /* Entete de la page */
    
    header{
    margin: 0;
    padding: 0;
    background: #AB0000;
    width:100%;
    height: 12vh ;
    position: absolute;
    }
    
    .menu{
    display: none;
    }
    
    #menuTelephone{
    display: block;
    }
    
    #menuTelephone ul{ 
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    }
    
    #menuTelephone li a{ 
    background-color: #AB0000;
    text-decoration: none;
    width:500px ;
    color: #fff;
    }
    
    #menuTelephone li a:hover{
    color: rgba(255, 255, 0, 0.411);
    } 
    
    #menuTelephone ul li ul{
    display: none;
    }
    
    #menuTelephone ul li:hover ul{
    display: block;
    }
    
    #menuTelephone li:hover ul li{
    float: none;
    }
    
    #menuTelephone li ul{
    position: absolute;
    }
    
    #menuTelephone li:hover ul li a{
    color: #fff;
    } 
    
    .boutonMenu{
    margin-left: 40%;
    }

/* Corp de la page */
 
#texte{
    margin-top: 16vh;
}

#principale{
    display: grid;
    /* Deux lignes d'objet */
    grid-template-columns: 45% 45%;
    grid-template-rows: auto;
    grid-gap: 3%;
    padding-left: 4%;
    padding-bottom: 65%;
    height: 580vh; 
}

.contenue{
    width: 90%;
    height:auto ;
    margin-top: 3vh;
}


/* pied de page */
footer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;  
}

#footer{
    margin-top: 30vh;
}

.menu2{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    margin-left: 1%;
    
}

}